include mixins/all.pug
header.header
  div.container
    div.row
      span.col-1.offset-1
        +logo
      +searchbox

main.container
  div.row
    div.col-10.offset-1
      ul.breadcrumb
        each val in categories
          li.breadcrumb__item
            a=val  
      
  div.row
    div.col-11.offset-1
      div.detail
        div.detail__main-content
          span.detail__seller-info Nuevo - 234 vendidos
          h1.detail__title #{item.title}
          span.detail__price #{item.price.amount_formated}
          a.detail__call-to-action(role='button') Comprar
        
        img.detail__image(src=item.picture, alt=item.title)
      div.detail__description
        strong.detail__description-title Descripción del producto
        p.detail__description-text #{item.description}

script(src="/javascripts/dist/searchbox.js", type="module") 
